 /* TODO table.product */
.writeCart{
    padding: 5px;
}
    .product{
        margin-bottom: 10px;
        padding:5px;
        background: var(--c2);
        color: var(--c5);
        border-left: 5px solid var(--c3);
    }    
    .product row{
            justify-content: space-between;
        }

.price{
    font-weight: bold;
    color: var(--t1);
}


 /* TODO cronology */
.writeCronology{
    padding:5px;
}
    .cronologyCard{
        margin: 5px 0;
        border: 1px solid ;
        border-radius: 10px;
    }
        .cronologyCard>row{
            padding:5px 10px;
            justify-content: space-between;
        }
.name::before{
    content: '';
    margin-right: 5px;
    width: 8px;
    height: 10px;
    transform: rotate(40deg);
    display: inline-block;
    background: var(--t1);
    border-radius: 50%;
}