 /* TODO tavoli */
    .generateTables{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        overflow-x: scroll;
        gap: 10px;
    }
        .tableItem{
            min-height: 80px;
            min-width: 80px;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 2px solid transparent;
            background: var(--c5);
            border-radius: 50%;
        }.tableItem:active{
            border-color: var(--c1);
        }
 /* TODO carrello attuale */
    .cart{
        padding: 5px;
    }
        .cart>div{
            padding: 5px;
            background: var(--c2);
            border-radius: 10px;
        }
            .cart table{
                margin-bottom: 20px;
            }
            .cartFoodName{
                width: 100%;
            }
            .cartButton{
                padding: 10px;
                background: var(--t1);
            }

 /* TODO cronology */
#generateCronology{}
    #generateCronology>div{
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
    }
        /* optimize STATO ORDINAZIONE */
        .ordinationState{
            min-width: 30px;
            min-height: 30px;
            border-radius: 50%;
            border: 1px solid transparent;
        }
            .arrived{
                background: green;
            }
            .pending{
                animation-name: ordinationStateAnimation;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .pending::after{
                content: '';
                width: 5px;
                height: 5px;
                display: inline-block;
                background: red;
                border-radius: 50%;
            }
            @keyframes ordinationStateAnimation{
                0%{transform: rotate(0deg);}
                100%{transform: rotate(360deg);}
            }

        /* optimize CARDS */
        .cards{
            width: 100%;
            padding: 5px;

            background: var(--c2);
            border: 1px solid var(--semiTransparent); border-top-width:0;
            border-radius: 10px;
            text-align: left;
        }
        .cronologyFoodName{
            width: 100%;
        }


        