 /* TODO tavoli */
.generateTables{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-x: scroll;
    gap: 10px;
}
    .tableItem{
        min-height: 80px;
        min-width: 80px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 2px solid transparent;
        background: var(--c5);
        border-radius: 50%;
    }.tableItem:active{
        border-color: var(--c1);
    }

 /* TODO cronology */
.writeCronology{
    padding:5px;
}
    .cronologyCard{
        margin: 5px 0;
        border: 1px solid ;
        border-radius: 10px;
    }
        .cronologyCard>row{
            padding:5px 10px;
            justify-content: space-between;
        }
.name::before{
    content: '';
    margin-right: 5px;
    width: 8px;
    height: 10px;
    transform: rotate(40deg);
    display: inline-block;
    background: var(--t1);
    border-radius: 50%;
}