 /* TODO PREMESSE */
*{
    --c1:#dadada;
    --c2:#c2c2c2;
    --c3:#909090; 
    --c4:#555555; 
    --c5:#202020; 
    --t1:#ca5500;
    --t2:#0075ca;

    --semiTransparent:#20202080;
    --shadow:#00000020;

    transition: 0.3s;
    font-family:monospace;
}
html,body{
    margin: 0;
    padding:0;
    border: 0;
    min-height:100%;
    background:linear-gradient(45deg,var(--c5),black);
}
 /* TODO LAYOUT */
 /* TODO - nav */
nav{
    background:var(--t1);
    z-index: 1;
}
nav.top{
    position: sticky; top:0px;
    padding:5px;
}
nav.bottom{
    position: fixed; 
    bottom:0px;
    width:100%;
}
    nav img{
        width:40px;
        padding:2px;
        border-radius:10px;
        border:2px solid transparent;
    }
    nav>row{
        align-items: center;
        justify-content: space-evenly;
    }
 /* TODO - searchBar */
searchBar{
    padding-right: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background:var(--c1);
    border-radius: 50px;
}searchBar:hover{
    background:var(--c3);
}
    searchBar>input{
        min-height:10px;
        padding:10px;

        border:0;
        border-radius:50px;
        
        background:transparent;
        color:var(--c5);
    }searchBar>input::placeholder{
        color:var(--c5);
    }
    searchBar>button{
        padding: 0;
        background:transparent;
    }
 /* TODO - header */
header{
     min-height: 100px;
     margin:0;
     background: var(--t1);
     color:var(--c1);
}
    header>*{ padding: 10px; }
    .profile img{
        width: 150px;
        border-radius: 50%;
    }
    .profile button{
        width: 150px;
    }
.intro{
    background: url(https://previews.123rf.com/images/niserin/niserin1405/niserin140500054/28047710-grunge-parete-di-legno-rustico-sfondo-vintage-dettagli-alti-qualit%C3%A0-hd.jpg);
    background-position:center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
    .intro h3{
        padding: 10px;
    }
    .intro>div{
        padding: 10px 0;
        background: var(--semiTransparent);
        color:var(--c1);
    }   #logo{
            background: transparent;
            color: var(--t1);
            font-size: 25px;
            font-family:fantasy;
        }
 /* TODO - section */
section{
    background-color:var(--c3);
    min-height: 300px;
    padding:30px 10px;
    color:var(--c5);
}
    section p, section h1, section h2, section h3, section h4, section h5, section h6{
        padding:10px;
        margin: 10px 0 0;
    }
 /* TODO - footer */
footer::before{
    content: '';
    width: 100%;
    height: 300px;
    display: block;    
    background: linear-gradient(var(--c3),var(--t1));
}
footer{
    min-height:100px;
    background: var(--t1);
}
 /* TODO - form */
form>div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    form *{
        font-size:15px;
    }
    form label{
        margin:20px 0 10px 0;
        display: block;
    }
    form input, form a{
        padding:10px;
        display: block;
    }
    form input{
        background: transparent;
        border:1px solid var(--c5);
        border-radius: 10px;
    }input::placeholder{
        color: var(--c5);
    }
    form button{
        border-radius: 20px;
        background:var(--t1);
        color: var(--c1);
    }
 /* TODO - row & column */
row{
    display: flex;
    justify-content:space-around;
    align-items: top;
}
column{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
 /* TODO - card ordinazioni */
.card{
}

    /* fix */
    .card>.input{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .input p, .input h4, .input h5,.input h6{
            margin: 0;
            padding:0 5px;
        }
        .input input{
            width: 50px;
            height:50px;

            background: var(--t1);
            color: var(--c1);
            border: 1px solid var(--c1);
            border-radius: 50%;
            text-align: center;
            font-size: 20px;
        }.input input::placeholder{ color: var(--c1); }
        .input button{
            min-width: 30px;
            min-height: 30px;
            margin-top:5px;
            padding: 5px;

            color: var(--c1);
            background: var(--c4);
            border-radius: 50px;
        }
 /* TODO - show */
    .show>a,.show>*{
        padding: 0;
        margin:5px 0;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center; 
        
        font-size: 20px;
        text-align: center;
        background: var(--semiTransparent);
        color: var(--c1);
    }
        .show img{
            width: 100%;
        }
        .show h2,.show h3,.show p{
            margin: 0;
            padding:5px 20px;
            position: absolute;
            background: var(--semiTransparent);
        }
 /* TODO COMPONENTI */
 /* TODO - testo */
h1{ font-size:40px; }
h2{ font-size:30px; }
h3{ font-size:20px; }
h4{ font-size:15px; }
h5{ font-size:10px; }
h6{ font-size:5px; }
p{ font-size:15px ;}
 /* TODO - anchor */
a{
    margin:0;
    padding:0px;
    color:var(--t1);
    text-decoration: none;
}
 /* TODO - tabella */
table{
    width: 100%;
    padding:5px;
    font-size:15px;
}
    table th:first-child{
        width: 80%;
    }
    table th{
        font-size:20px;
    }
    table td,table td{
        padding:5px;
    }

table.cart{
    margin: 5px 0;
    border-left:5px solid var(--c5);
    background: var(--c3);
    color: var(--c5);
}
    table.cart th{
        text-align: left;
    }
        price{
            font-weight: bold;
            color: var(--t1);
        }

table.cronology{
    margin:5px 0;
    border:1px solid var(--c1);
    border-radius:10px;
    color: var(--c5);
}
    table.cronology th{
        text-align: left;
    }
    table.cronology td{
        padding-left: 20px;
    }
    table.cronology button{
        padding:5px;
        background: var(--t1);
        color: var(--c1);
    }
 /* TODO - pulsanti */
button{
    margin:0;
    padding:5px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size:15px;
    cursor: pointer;

    border:0;
    border-radius:5px;
    color:var(--c5);
    background:var(--c1);
}
button.square{
    width:100%;
    justify-content: space-between;

    background:var(--c3);
    border-radius:0;
    border-bottom:1px solid var(--c5);
}
    button img{
        height:20px;
        width: 20px;
        margin: 5px;
    }

 /* TODO INDIVIDUALI */
