 /* TODO PREMESSE */
*{
    --coloreChiaro:#dadada; 
    --coloreIntermedio:#909090; 
    --coloreScuro:#202020; 
    --coloreTema:#ca5500; 
    --semiTransparent:#20202080;
    --shadow:#00000020;

    transition: 0.3s;
    font-family:monospace;
}
html,body{
    margin: 0;
    padding:0;
    border: 0;
    min-height:100%;
    background:linear-gradient(45deg,var(--coloreScuro),black);
}
 /* TODO LAYOUT */
 /* TODO - nav */
nav{
    padding: 2px;
    background:var(--coloreTema);

}
nav.top{
    position: sticky; top:0px;
}
 nav.bottom{
    position: fixed; 
    bottom:0px;
    width:100%;
}
    nav img{
        width:40px;
        padding:2px;
        border-radius:10px;
    }
    nav>row{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
 /* TODO - searchBar */
    searchBar{
        padding-right: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background:var(--coloreChiaro);
        border-radius: 50px;
    }searchBar:hover{
        background:var(--coloreIntermedio);
    }
        searchBar>input{
            min-height:10px;
            padding:10px;

            border:0;
            border-radius:50px;
            
            background:transparent;
            color:var(--coloreScuro);
        }searchBar>input::placeholder{
            color:var(--coloreScuro);
        }
        searchBar>button{
            border-radius:50px;

            min-height:100%;
            padding:15px;

            background:url(https://png.pngtree.com/png-clipart/20230401/original/pngtree-magnifying-glass-line-icon-png-image_9015864.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            background-attachment: scroll;
        }
 /* TODO - header */
header{
    min-height: 200px;
    padding:10px; 
    margin:0;
    background: linear-gradient(0deg,var(--coloreTema),var(--coloreChiaro),var(--coloreChiaro));

}
    header>row{
        justify-content: space-between;
        text-align: center;
    }
    header img {
        margin:0;
        width:100%;
        border-radius: 50px;
    }
    postHeader{
        height:200px;
        display: block;
        padding-bottom: 10px;

        background: url(/Header.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
    }
    postHeader h2{
        margin: 0;
    }

 /* TODO - section */
section{
    /* background: url(https://previews.123rf.com/images/niserin/niserin1405/niserin140500054/28047710-grunge-parete-di-legno-rustico-sfondo-vintage-dettagli-alti-qualit%C3%A0-hd.jpg); */
    background-color:var(--coloreIntermedio);
    background-position:center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
    section>div{
        min-height: 500px;
        padding-bottom: 100px;
        color:var(--coloreChiaro);
    }

        section p, section h1, section h2, section h3, section h4, section h5, section h6{
            padding:10px;
            margin: 10px 0 0;
        }
 /* TODO - footer */
footer{
    min-height:200px;
    background: linear-gradient(var(--coloreIntermedio),var(--coloreTema),var(--coloreTema));
}
 /* TODO - row & column */
row{
    display: flex;
    justify-content: center;
    align-items: top;
}
row.text{
    background:radial-gradient(var(--coloreChiaro, var(--coloreScuro)));
    padding:20px;
}
    row.text>column{
        background: var(--coloreChiaro);
        color: var(--coloreScuro);
        border-radius: 10px;
    }
    row>h1, row>h2{
        text-align: center;
        padding: 10px;
        margin: 0;
    }
 /* TODO - card */
.card{
    min-height: 100px; width: 150px;
    margin:5px;
    border-radius:10px;

    display: flex;
    flex-direction: column;

    border:2px solid var(--shadow); border-top:0;
    color: var(--coloreChiaro);
    background:linear-gradient(transparent,transparent,var(--semiTransparent)) ;
}.card:hover{
    border:2px solid var(--coloreTema); border-top:0;
}
    .card img{
        height:100px;
        border-radius:10px;
    }
    .card div{
        width:150px;
    }
    .card h4{
        margin: 0;
        padding:5px;
        font-size: 16px;
    }
 /* TODO COMPONENTI */
 /* TODO - testo */
h1{ font-size:60px; }
h2{ font-size:40px; }
h3{ font-size:25px; }
h4{ font-size:20px; }
h5{ font-size:15px; }
h6{ font-size:10px; }
p{ font-size:20px ;}
 /* TODO - anchor */
a{
    margin:0;
    padding:0px;
    color:var(--coloreTema);
    text-decoration: none;
}
 /* TODO - pulsanti */
button{
    margin:0;
    padding:10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size:20px;
    cursor: pointer;

    border:0;
    border-radius:5px;
    color:var(--coloreChiaro);
    background:var(--coloreIntermedio);
}
button.square{
    width:100%;
    background:var(--coloreIntermedio);
    border-radius:0;
    border-bottom:1px solid var(--coloreScuro);
}
    button img{
        height:20px;
        margin: 5px;
    }

 /* TODO INDIVIDUALI */