 /* TODO PREMESSE */
*{
    --coloreChiaro:#dadada; 
    --coloreIntermedio:#909090; 
    --coloreScuro:#202020; 
    --coloreTema:#ca5500; 
    --semiTransparent:#20202080;

    transition: 0.3s;
    font-family:monospace;
}
html,body{
    margin: 0;
    padding:0;
    border: 0;
    min-height:100%;
    background:linear-gradient(45deg,var(--coloreScuro),black);
}
 /* TODO LAYOUT */
 /* TODO - nav */
nav{
    padding: 5px;
    background:var(--coloreTema);
    border-top: 1px solid var(--coloreScuro);
    border-bottom: 1px solid var(--coloreScuro);

}
nav.top{
    position: sticky; top:0px;
}
 nav.bottom{
    position: fixed; 
    bottom:0px;
    width:100%;
}
    nav img{
        width:40px;
    }
    nav>row{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
 /* TODO - searchBar */
    searchBar{
        padding-right: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background:var(--coloreChiaro);
        border-radius: 50px;
    }searchBar:hover{
        background:var(--coloreIntermedio);
    }
        searchBar>input{
            min-height:10px;
            padding:10px;

            border:0;
            border-radius:50px;
            
            background:transparent;
            color:var(--coloreScuro);
        }searchBar>input::placeholder{
            color:var(--coloreScuro);
        }
        searchBar>button{
            border-radius:50px;

            min-height:100%;
            padding:15px;

            background:url(https://png.pngtree.com/png-clipart/20230401/original/pngtree-magnifying-glass-line-icon-png-image_9015864.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            background-attachment: scroll;
        }
 /* TODO - header */
header{
    padding:10px; 
    margin:0;
    background: linear-gradient(0deg,var(--coloreTema),var(--coloreChiaro),var(--coloreChiaro));

}
    header>row{
        justify-content: space-between;
        text-align: center;
    }
    header img {
        margin:0;
        width:100%;
        border-radius: 50px;
    }
    postHeader,footer{
        height:200px;
        display: block;
        padding-bottom: 10px;

        background: url(/Header.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
    }
    postHeader h2{
        margin: 0;
    }

 /* TODO - section */
section{
    /* background: url(https://previews.123rf.com/images/niserin/niserin1405/niserin140500054/28047710-grunge-parete-di-legno-rustico-sfondo-vintage-dettagli-alti-qualit%C3%A0-hd.jpg); */
    background-color:var(--coloreIntermedio);
    background-position:center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
    section>div{
        min-height: 1000px;
        /* padding:10px; */
        background:linear-gradient(transparent,var(--semiTransparent),var(--coloreScuro));
        color:var(--coloreChiaro);
    }

        section p, section h1, section h2{
            padding:10px;
        }
 /* TODO - footer */
footer{
    min-height:200px;
}
 /* TODO - row & column */
row{
    display: flex;
    justify-content: center;
    align-items: top;
}
row.text{
    background:radial-gradient(var(--coloreChiaro, var(--coloreScuro)));
    padding:20px;
}
    row.text>column{
        background: var(--coloreChiaro);
        color: var(--coloreScuro);
        border-radius: 10px;
    }
    row>h1, row>h2{
        text-align: center;
        padding: 10px;
        margin: 0;
    }
 /* TODO - card */
.card{
    width:150px;
    padding-top: 100px;
    margin:0 5px;

    border-radius:10px;
    border:1px solid var(--coloreIntermedio);
    background: linear-gradient(45deg,var(--coloreScuro),var(--coloreTema),var(--coloreChiaro)) ;
}.card:hover{
    border:1px solid var(--coloreTema);
    cursor: pointer;
}
    .card>*{
        padding:10px;
        margin:0;
        
        color: var(--coloreChiaro);
        background:linear-gradient(45deg,var(--coloreScuro),transparent);
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
    }
    .card:hover *{
        transition:0.3s;
        background:var(--coloreTema);
    }

 /* TODO COMPONENTI */
 /* TODO - testo */
h1{ font-size:60px; }
h2{ font-size:40px; }
h3{ font-size:20px; }
p{ font-size:20px ;}
 /* TODO - anchor */
a{
    margin:0;
    padding:0px;
    text-decoration: none;
}
a>p{
    display: inline;
    margin:0;
    font-size:20px;
    color: var(--coloreTema);
}a>p:hover{
    color: var(--coloreScuro);
}

 /* TODO - pulsanti */
button{
    margin:0;
    padding:10px;

    font-size:20px;
    cursor: pointer;

    border:0;
    border-radius:5px;
    color:var(--coloreChiaro);
    background:var(--coloreIntermedio);
}button:hover{

}

 /* TODO INDIVIDUALI */
#pesce{
    background: url(https://staticcookist.akamaized.net/wp-content/uploads/sites/21/2022/05/secondi-piatti-di-pesce-1200x675.jpg);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
#carne{
    background: url(https://media-assets.lacucinaitaliana.it/photos/6364e27ec2dbe6dc935c72d4/4:3/w_1331,h_998,c_limit/filetto-di-maiale-allo-sciroppo-di-liegi,-friggitelli-e-cipolline.jpg);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
#pizze{
    background: url(https://www.berberepizza.it/wp-content/uploads/2023/10/BE_FOTO_HEAD_LANOSTRAPIZZA_IT_SPECKEG-1.jpg);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
#giapponese{
    background: url(https://rossettogroup.it/wp-content/uploads/R_Post_ART_Sushi_0607.png);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
#cinese{
    background: url(https://www.fattoincasadabenedetta.it/wp-content/uploads/2021/10/Spaghetti-di-soia-1.jpg);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
#tailandese{
    background: url(https://www.lapastadij-momo.it/wp-content/uploads/2019/12/Cucina-thailandese.jpg);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}


#usa{
    background: url(https://static.gamberorosso.it/2021/03/hamburger-768x614.jpg);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
#araba{
    background: url(https://www.bottegasicana.com/cdn/shop/articles/influenza-araba-cucina-siciliana-cous-cous.jpg?v=1636015527);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
#vegana{
    background: url(https://wips.plug.it/cips/paginegialle.it/magazine/cms/2018/07/cucina-vegana.jpg?w=744&h=418&a=c);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}