/* TODO profilo */
img#profileImg{
    width: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
}
#profileOutput{
    margin: 10px 0 ;
    text-align: center;
}
button#profileButton{
    padding: 10px 20px;
    background: var(--c2);
    border-radius: 50px;
}


/* TODO dropdown */
#pen h3{
    padding: 40px 0 10px;
}

.dropdown{

}
    button.dropButton{
        width:100%;
        justify-content: space-between;

        font-weight: bold;
        background:var(--c3);
        border-radius:0;
        border-bottom:1px solid var(--c5);
    }

    .dropContent{
        display: none;
        background: var(--c2);
    }
        .dropContent p{
            margin: 0;
            padding: 5px 10px;
        }