 /* TODO -> sommary>a>img & h2 */
/* 
    <column class="summary">
        <a href="">
            <img>
            <h2></h2>
        </a>
    </column>  

*/
.summary{ 
    border:1px solid; 
}
    .summary>a{
    /* contenitore-ritaglio */
        padding: 0;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center; 
        
        overflow: hidden;
        text-align: center;
        background: var(--semiTransparent);
        color: var(--c1);
    }
        .summary img{ width: 100%; }
        .summary>a>h1{
        /* Testo semitrasparente */
            margin: 0;
            padding: 0;

            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center; 
            background: var(--semiTransparent);
        }
        .summary>a,.summary>a>h1{ 
        /* il ritaglio e il testo */
            width: 300px; 
            height: 200px; 
        }



    /* TODO -> amount */
.card>.amount{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .amount p, .amount h4, .amount h5,.amount h6{
        margin: 0;
        padding:0 5px;
    }
    .amount .output{
        height: 20px; width: 20px;
        margin: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--c1);
        background: var(--t1);
        border-radius:50%;
        border:1px solid; border-top: 0;
    }
    .amount button{
        min-width: 30px;
        min-height: 30px;
        margin-top:5px;
        padding: 5px;

        color: var(--c1);
        background: var(--c4);
        border-radius:50%;
        border:1px solid; border-top: 0;
    }
    .amount .send{
        background: var(--t1);
    }
        
 /* TODO -> show>div>img & div>h2 & h2 & h6 */
.show>div{
    padding: 0;
    margin:5px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
    
    overflow: hidden;
    font-size: 20px;
    background: var(--semiTransparent);
    color: var(--c1);
}
    .show>div>img{
        height: 100%;
    }
    .show>div>div{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        background: var(--semiTransparent);
        border: 1px solid;
    }
        .show>div>div>*{
            padding: 0 5px;
            margin: 0;
        }
    .show>div,.show>div>div{
        width: 200px; height: 200px;
        border-radius: 10px;
    }