 /* TODO HOME */
 #homePage header{
    padding: 0;
}
    /* optimize video */
    #videoOpening>div{
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
        background: var(--semiTransparent);
    }
        #videoOpening video{
            height: 100%;
        }
    /* optimize card */
    #opening>*{
        min-height: 100px;
        padding: 10px;

        display: flex;
        align-items: center;
        gap: 10px;

        color: var(--c5);
        background: linear-gradient(320deg,var(--c1),var(--c3));
    }
        #opening h3{
            padding-bottom: 15px;
        }
        #opening img{
            width: 100px;
            border-radius: 10px;
        }
